<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>mock_components/GenericSystem</plugin>
      <param name="calculate_dynamics">true</param>
      <param name="custom_interface_with_following_offset"></param>
      <param name="disable_commands">false</param>
      <param name="mock_gpio_commands">false</param>
      <param name="mock_sensor_commands">false</param>
      <param name="position_state_following_offset">0.0</param>
    </hardware>

    <!-- Left wheel joint -->
    <joint name="left_wheel_joint">
      <command_interface name="velocity"/> 
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    <!-- Right wheel joint -->
    <joint name="right_wheel_joint">
      <command_interface name="velocity"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </ros2_control>
  
</robot>


<!-- command_interface is similar to feed-forward; & 
     state_interface is similar to feed_backward -->